<div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
    <h6 class="alert-heading text-semibold">Question @Model.QuestionNo </h6>
    Main sidebar can be completely hidden. To use this option, just change button class to <code>.sidebar-main-hide</code> and main sidebar will be hidden on button click.
    <h3>Question</h3>
    <div style="height:300px;">

        <button type="submit" class="btn legitRipple pull-left" style="background-color:#002f87;border-color:#002f87; color:#fff">Commit/Next <i class="icon-arrow-right14 position-right"></i></button>
}
    </div>
</div>