#leftCol {
    position: fixed;
    width: 150px;
    background-color: #DDD; 
    font-size: 21px;
    overflow-y: scroll;
    top: 50px;
    bottom: 0;
}

#content {
    position: relative;            
    margin-left: 150px;
}